body {
    font-family: sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header {
    text-align: left;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 5px;
    color: #333;
}

.published-date {
    color: #777;
    font-size: 0.9em;
}

.review-content {
    display: flex;
    flex-direction: column;
}

.book-info {
    display: flex;
    align-items: flex-start;
    margin-bottom: 0px;
    gap: 20px;
}

.book-info img {
    max-width: 350px;
    height: auto;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.book-info .details {
    flex-grow: 1;
}

.book-info .details p {
    margin-bottom: 0px;
}

.ratings {
    margin-top: 0;
    padding-left: 0px;
}

.ratings h2 {
    font-size: 1.4em;
    margin-top: 0px;
    margin-bottom: 5px;
    color: #333;
    border-bottom: 1px solid #eee;
    padding-bottom: 3px;
}

.overall-rating {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.overall-rating .rating-value {
    font-size: 1.6em;
    font-weight: bold;
    color: #5cb85c;
    margin-right: 8px;
}

.overall-rating .individual-ratings {
    color: #777;
    font-size: 0.8em;
}

.rating-category {
    margin-bottom: 5px;
    padding: 8px;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.rating-category p {
    margin-bottom: 5px;
    font-weight: bold;
    color: #444;
    font-size: 0.9em;
}

.rating-category .rating-value {
    font-size: 1.2em; 
    font-weight: bold;
    color: #007bff;
    margin-right: 8px;
}

.rating-category .individual-ratings {
    color: #888;
    font-size: 0.75em;
}
.apraksts{
    text-align: center;
    font-weight: bold;
}
@media (max-width: 768px) {
  body {
    margin: 10px;
  }

  .container {
    padding: 10px;
  }

  header h1 {
    font-size: 1.8em;
    text-align: center;
  }

  .published-date {
    text-align: center;
    font-size: 0.85em;
  }

  .review-content {
    flex-direction: column;
  }

  .book-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .book-info img {
    max-width: 100%;
    height: auto;
  }

  .details {
    text-align: center;
    margin-top: 10px;
  }

  .ratings {
    padding: 0;
  }

  .rating-category {
    font-size: 0.95em;
  }

  .apraksts {
    font-size: 1.2em;
    margin-top: 20px;
  }

  .text {
    font-size: 1em;
    padding: 0 10px;
    text-align: justify;
  }
}
